# ==========================
# Ambiente Virtual
# ==========================
.venv/
venv/

# ==========================
# Variáveis de Ambiente
# ==========================
.env
.env.local

# ==========================
# Cache do Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# ==========================
# Arquivos Temporários
# ==========================
*.log
*.tmp
*.temp

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# Banco de Dados Local
# ==========================
*.db
*.sqlite
*.sqlite3

# ==========================
# Arquivos do Sistema
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Dados Gerados Durante a Execução
# ==========================
data/uploads/
data/processed/

# ==========================
# Arquivos Grandes ou Sensíveis
# ==========================
*.pdf
*.docx
*.xlsx

# Permitir memoriais sintéticos utilizados na experimentação
!data/samples/*.docx

# ==========================
# Arquivos Grandes ou Sensíveis
# ==========================
*.pdf
*.docx
*.xlsx

# Permitir memoriais sintéticos utilizados na experimentação
!data/samples/*.docx

# Permitir planilhas dos resultados da experimentação
!docs/resultados/
!docs/resultados/Etapa 1/
!docs/resultados/Etapa 1/*.xlsx
!docs/resultados/Etapa 2/
!docs/resultados/Etapa 2/*.xlsx
!docs/resultados/Tabelas/
!docs/resultados/Tabelas/*.xlsx